<footer>
    <div class="footer">
        <div class="extra">
        <div style="display: flex; flex-direction: column; padding-left: 30px;">
            <img style="padding-bottom: 50px;" src="images/logo.png" alt="logo">
            <div class="social">
                <div><a href="https://x.com/sansinstitute?lang=en"><img src="images/twitter.png" alt="logo"></a></div>
                <div><a href="https://www.instagram.com/sansinstituteofficial/"><img src="images/instagram.png" alt="logo"></a></div>
                <div><a href="https://www.linkedin.com/company/sans-institute"><img src="images/linkedin.png" alt="logo"></a></div>
                <div><a href="https://www.youtube.com/channel/UC2uPNhGken-ogEpJDi4ly6w"><img src="images/youtube2.png" alt="logo"></a></div>
            </div>
        </div>

        <div style="margin-left: -300px;">
            <ul>
                <li><a href="https://example.com">About Us</a></li>
                <li><a href="https://example.com">Contact Us</a></li>
                <li><a href="https://example.com">Maps and Directions</a></li>
                <li><a href="https://example.com">Help</a></li>
            </ul>                
        </div>
        <div><img class="overlay-image" src="images/highFive.png" alt=""></div>
        </div>

    </div>
    <p style="margin-bottom: -10px; font-size: 13px;">&copy; 2024 Alumni Connect. All rights reserved.</p>
</footer>