<header>
    <nav>
        <div class="logo">
                
            <a href="/"><img src="images/actualLogo.png"></a>
                
        </div>
            

        <div class="nav-links" >
            <div class="navbar">
                <div>
                <a href="/network">
                <div class="nav-item">
                    <img src="images/group.png">
                </div></a>
                <p>Network</p>
                </div>
                <div>
                <a href="/jobs">
                <div class="nav-item">
                    <img src="images/suitcase.png"> 
                </div></a>
                <p>Jobs</p>
                </div>
                <div>
                    <a href="/messages">
                    <div class="nav-item">
                        <img src="images/chat.png"> 
                    </div></a>
                    <p>Messages</p>
                </div>
                <div>
                    <a href="/mentorship">
                    <div class="nav-item">
                        <img src="images/exchange-ideas.png">
                    </div></a>
                    <p>Mentorship</p>
                </div>
                <div>
                    <a href="/events">
                    <div class="nav-item">
                        <img src="images/calendar.png"> 
                    </div></a>
                    <p>Events</p>
                </div>
                <div>
                    <a href="/menu">
                    <div class="nav-item">
                        <img src="images/menu.png"> 
                    </div></a>
                    <p>More</p>
                </div>
                <a href="/profile">
                <div>
                    <img style="border-radius: 50px; box-shadow: 0px 5px #000000;" src="images/profile.png">
                </div></a>
            </div>
        </div>
    </nav>  
</header>

